.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	gap: 10px;
	border-bottom: 1px solid #d3cbd9;
}

.phone {
	text-align: right;
	max-width: 240px;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	color: #858e8a;
}

.phone-text {
	letter-spacing: 0.04em;
	margin-bottom: 8px;
}

.phone-link {
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
  transition: color 0.2s;
}

.phone-link:hover {
	color: #3596ed;
}
